name: Build LaTeX Resume

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Fix APT Mirror Issue
        run: |
          sudo rm -f /etc/apt/apt-mirrors.txt
          sudo sed -i '/mirror+file/d' /etc/apt/sources.list
          sudo apt-get clean
          sudo apt-get update

      - name: Install LaTeX
        run: sudo apt-get install -y \
          texlive-latex-base \
          texlive-fonts-recommended \
          texlive-latex-extra

      - name: Compile LaTeX to PDF
        run: pdflatex ResumeSatvik.tex

      - name: Upload PDF as an artifact
        uses: actions/upload-artifact@v4
        with:
          name: Resume PDF
          path: ResumeSatvik.pdf
